.container{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.imagemDeFundo{
    /* background-image: url('./assets/background.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 60%;
    height: 100vh;
    box-shadow: var(--sombra);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--cor-branco);
    text-align: center;
    padding: 0rem 4rem;
}

@media (max-width: 768px) {
    .imagemDeFundo{
        display: none;
    }
}

.imagemDeFundo h1{
    font-size: 4rem;
    margin: 1rem;
}

.imagemDeFundo p{
    font-size: 1rem;
}