@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  --cor-titulo: #222;
  --cor-texto: #666666;
  --cor-link: rgb(43, 100, 233);
  --cor-link-claro: rgba(43, 100, 233, .9);
  --cor-erro: #c80606;
  --cor-borda: #999;
  --cor-branco: #f4f4f4;
  --sombra: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  background-color: var(--cor-branco);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}